/* Contenido */
/*.content-wrapper {
    background-color: #161317;
}*/

/* bgcolor logo */
.layout-navbar-fixed .wrapper .sidebar-dark-danger .brand-link:not([class*="navbar"]) {
    background-color: #211D25;
    color: #A79BB3;
}

/* bgcolor sidebar menu */
/* .os-content {
    //background-color: #211D25;
} */

/* bgcolor Navbar */
/*.navbar-white {
    background-color: #161317;
    color: #A79BB3;
}*/

.box-fecha
{
    width: 100%;
    background-color: #38323E;
    color: #fff;
    padding: 1em;
    border-radius: 7px;
    margin-bottom: 5px;
}

.box-fixture
{
    width: 100%;
    background-color: #161317;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 50px;
    border: 1px solid #606060;
}

.th-fixture {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #211D25;
    color: #fff;
}

.td-fixture {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #38323E;
    color: #A79BB3;
}

.box-goles {
    padding: 1rem;
    background-color: #161317;
    vertical-align: top;
    border: 1px solid #38323E;
    color: #A79BB3;
}

.input-text {
    width: 20%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #495057;
    border-color: #495057;

}

.page-link {
    color: #495057;
}

.pagination
{
    font-size: 13px;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #DA332E;
}
